*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/core/build
/captures
.externalNativeBuild
/artwork
/test-reports
/test-results
app/google-services.json
/app/src/main/res/values/refs.xml
/app/src/androidTest/java/com/smouldering_durtles/wk/test/UnitTestSuite.java
/fastlane/smoulderingdurtles.json
